.header-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    padding-bottom: 20px;
}

.header-logo {
    max-width: 300px;
}

.header-text {
    letter-spacing: 1px;
    font-size: 3.9rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 1.5px 2.5px 2px #AF1468;
}

.header-subtext {
    font-size: 1.6rem;
    letter-spacing: 1px;
}